/* Domyślny kolor tekstu */
/* .inputM + span.spanM {
    color: black;
} */

/* Kolor tekstu po zaznaczeniu checkboxa */
/* .inputM:checked + span.spanM {
    color: red;
} */





/* .itemM {
    background-color: burlywood;
} */
/* 
.bg-red {
    background-color: red;
} */